/**
 * Feature Name: Backend-Styles
 * Version:      1.0
 * Author:       MarketPress.com
 * Author URI:   http://marketpress.com
 */

/** Import Google Webfont so we are able to use it **/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

.about-wrap .mp-badge {
	top: 0;
	right: 0;
	height: 40px;
	width: 150px;
	color: #777;
	font-size: 14px;
	margin: 5px 0 0;
	font-weight: 600;
	text-align: center;
	padding-top: 95px;
	position: absolute;
	display: inline-block;
	text-rendering: optimizeLegibility;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);

	background: #fff url(../img/logo.png) no-repeat;
	-webkit-background-size: 85px 55px;
	background-position: center 24px;
	background-size: 85px 55px;
}

.about-wrap li.wp-person {
	list-style: none;
}

.about-wrap li.wp-person span.web {
	display: block;
	font-size: 16px;
	margin: 6px 0 2px;
	text-decoration: none;
}

.about-wrap li.wp-person span.web {
	font-weight: normal;
	line-height: 1.6em;
}

.about-wrap li.wp-person img.avatar {
	float: left;
	width: 60px;
	padding: 2px;
	height: 60px;
	margin: 0 10px 10px 0;
}

.mp-documentation {
	margin-right: 350px;
}

.mp-documentation ul {
	margin-left: 25px;
}

.mp-documentation-nav {
	padding: 0;
	width: 300px;
	float: right;
	background: #e4e4e4;
	margin: 15px 0 0 25px;
	border: 1px solid #ccc;
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
}

.mp-documentation-nav ul,
.about-wrap .changelog .mp-documentation-nav ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.about-wrap .changelog .mp-documentation-nav ul li a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}

.about-wrap .changelog .mp-documentation-nav ul li a:hover {
	background: #fff;
}

.about-wrap .changelog .mp-documentation-nav ul li ul {
	margin-left: 25px;
}

li.toplevel_page_helsinki-theme-welcome {
	display: none;
}
